<head>
    <!-- Bootstrap CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  

  <!-- GoogleCharts-->
  
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  
  <!-- Grafico de Pizzas-->  
  <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Apto',     {{apto}}],
          ['Não apto',      {{n_apto}}],
        ]);

        var options = {
          title: 'Para todos os usuários'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
<!-- Grafico de barras -->
    <script type="text/javascript">
      google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = google.visualization.arrayToDataTable([

      
        ['C', 'Unidades',],
        {% for key , vaule in unid_qtd.items %}
             [ '{{ key }}' , {{ vaule }} ],    
      {% endfor %}
      ]);

      var options = {
        title: 'Unidaded x Agendamento',
        chartArea: {width: '50%'},
        hAxis: {
          title: 'Quantidade de agendamento',
          minValue: 0
        },
        vAxis: {
          title: 'Unidades'
        }
      };

      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
    </script>


  <!------ Include the above in your HEAD tag ---------->
  </head>
  <body>
    
  <div class="container">
    <p> {{agend.ag_data}} </p>
      <div class="card container ">
          <div class="card-header bg-primary">
            <nav class="navbar navbar-dark ">
              <a class="navbar-brand" href="#"><b>Area Restrita : Painel Administrativo </b></a>
            </button>
              <form class="form-inline my-2 my-lg-0">
                <a href="{% url 'logout' %}" class=" btn btn-warning ">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                  </svg>
                  SAIR</a>  
              </form>
            </nav>
          </div>  
  
  

          
  



    
  
    <div class="card-body ">
        <hr>
          <form>
            <div class="row">
              <div class="col">
                <label class="h5">Grupo de atendimento XML</label>
                <form method="post" >
                  {%csrf_token%}
                <div class="form-group">
                  <label class="py-2" >Insira o arquivo XML (grupos_atendimento.xml)</label> <br>
                  <input type="file" class="form-control-file" >
                </div>
                <button type="button" class="btn btn-success my-4">Adicionar</button>
                <button type="button" class="btn btn-warning my-4">Atualizar</button>
                
              </form>
              </div>
              <div class="col">
                <label class="h5">Estabelecimentos de saúde XML</label>
                <form method="post" >
                  {%csrf_token%}
                    <div class="form-group">
                      <label class="py-2" >Insira o arquivo XML (estabelecimentos_pr.xml)</label> <br>
                      <input type="file" class="form-control-file" >
                    </div>
                    <button type="button" class="btn btn-success my-4">Adicionar</button>
                    <button type="button" class="btn btn-warning my-4">Atualizar</button>
                  </form>
                  
              </div>
              
            </div>
          </form>

          <hr>
          <label class="h5 py-2">Buscar Estabelecimento</label>
          <form method="post" >
            {%csrf_token%}
            <div class="row">
              <div class="col">
                <input type="text" name="nome_est" class="form-control" placeholder="Nome do Estabelecimento de saúde">
              </div>
              <div class="col">
            
                <input type="number" name="cod_est" class="form-control" placeholder="Codigo do Estabelecimento de saúde">
              </div>
              <div class="col">
              <button type="submit" class="btn btn-success">buscar</button>
              </div>
            </div>
          </form><br>

          <!-- Sucess messages -->
          {% if messages %}
          {% for message in messages %}
            {%if message.tags == 'success' %}
        <div class="alert alert-success alert-dismissible fade show " role="alert">
          <strong> {{message}} </strong>
          
          {% for key , vaule in resp_cod.items %}
           <p> {{vaule}} - {{key}} </p>
          {%endfor%}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
            {% endif %}
          {% endfor %}
        {% endif %}

         <!-- Info messages -->
         {% if messages %}
         {% for message in messages %}
           {%if message.tags == 'info' %}
       <div class="alert alert-success alert-dismissible fade show " role="alert">
         <strong> {{message}} </strong>
         
         {% for key , vaule in resp_nome.items %}
          <p> {{vaule}} - {{key}} </p>
         {%endfor%}
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
       </div>
           {% endif %}
         {% endfor %}
       {% endif %}

          
          <hr> 
          <!-- Listagem do cod e unidades -->

          <label class="h5 py-2">Todos os estabelecimentos </label>
          <table class="table table-bordered  table-hover">
            <thead class="table-light" >
              <tr>
                <td class="table-secondary" ><b>Codigo </b></td>
                <td class="table-secondary" ><b>Nome do Estabelecimento</b></td>
              </tr>
            </thead>
            <tbody>
              {% for nome_unid, cod_unid in unidades.items %}
              <tr>
              <td  class="table-light" > <p> {{cod_unid }}  </p> </td>
              <td  class="table-light" >
                <p> {{nome_unid}} 
              </p> 
              </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <hr>
            <h1> Relatórios </h1>
            <h3> Gráfico de Barras : Agendamentos por Estabelecimento </h3>
            <br><br><br>
            <div id="chart_div"></div>
            <br><br>
            <h3> Gráfico de Pizza : Usuários aptos ao agendamento </h3>
            <div id="piechart" style="width: 900px; height: 500px;"></div>
      <br>
      <hr>
      <footer>
      <p class="h6">LAIS/HUOL - UFRN - Laboratório de Inovação Tecnológica em Saúde | Av. Nilo Peçanha, 620 - 59012-300 Petrópolis - Natal/RN - Brasil. </p>
      </footer>
      <hr>
  </div>

</body>