<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Agendamento</title>
    <meta charset="utf-8"/>
  </head>
  <body>
    <h2>PAGINA DE CADASTRO</h2>
    <form method="post">
      {%csrf_token%}
      <label>Nome Completo</label><br>
      <input type="name" name="#"/><br><br>
      <label>CPF</label><br>
      <input type="number" name="#"/><br><br>
      <label>Nascimento</label><br>
      <input type="date" name="#"/><br><br>

      <label>Teve COVID nos ultimos 30 Dias?</label><br><br>
        <input type="radio" name="teve_covid" value="sim">
      <label for="html">SIM</label><br>
        <input type="radio" name="teve_covid" value="não">
      <label for="css">NÃO</label><br><br>
      <!-- grupos de atendimento -->
      <label>Grupo de Atendimento</label> <br> <br>

      {{grp_atend}}
     {% for grp_atend , name in grp_atend %}
       {{ide}} 
     {% endfor %}
  

     {{'oiiin'}} 


      <br><br>
      <label>Senha:</label><br>
        <input type="password" name="#"/><br><br>
      <label>Confirmar senha:</label><br>
        <input type="password" name="#"/><br><br>
        <input type="submit" value="CADASTRAR"/>
      <a href="{% url 'login' %}" >VOLTAR</a>
    </form>
    
  </body>
</html>
