<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Agendamento</title>
    <meta charset="utf-8"/>
  </head>
  <body>
    <h2>PAGINA DE CADASTRO</h2>
    <form method="post">
      {%csrf_token%}
      <label>Nome Completo</label><br>
      <input type="name" name="#"/><br><br>
      <label>CPF</label><br>
      <input type="number" name="#"/><br><br>
      <label>Nascimento</label><br>
      <input type="date" name="#"/><br><br>
      <label>Senha:</label><br>
      <input type="password" name="#"/><br><br>
      <label>Confirmar senha:</label><br>
      <input type="password" name="#"/><br><br>
      <input type="submit" value="CADASTRAR"/>
      <a href="{% url 'login' %}" >
        VOLTAR
      </a>
    </form>
    
  </body>
</html>
