<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Agendamento</title>
    <meta charset="utf-8"/>
  </head>
  <body>
    <h1>AUTOCADASTRO</h1>
    <form method="post">
      {%csrf_token%}
      <label>Nome Completo</label><br>
      <input type="name" name="nome"/><br><br>
      <label>CPF</label><br>
      <input type="number" name="cpf" min="0" max="11" /><br><br>
      <label>Nascimento</label><br>
      <input type="date" name="nasc"/><br><br>
      <label>Grupo de Atendimento</label> <br> <br>
      <select name="gpr_atend">
        {% for key , vaule in grp_atend.items %}
        <option    name="{{ key }}" value="{{ key }}"> {{ key }} - {{ vaule }}  </option>    
        {% endfor %}
        </select>

      <br><br>
      <label>Teve COVID nos ultimos 30 Dias?</label><br><br>
        <input type="radio" name="teve_covid" value="sim">
      <label for="html">SIM</label><br>
        <input type="radio" name="teve_covid" value="não">
      <label for="css">NÃO</label><br><br>
      <br><br>
      <label>Senha:</label><br>
        <input type="password" name="senha1"/><br><br>
      <label>Confirmar senha:</label><br>
        <input type="password" name="senha2"/><br><br>
        <input type="submit" value="CADASTRAR"/>
      <a href="{% url 'login' %}" >VOLTAR</a>
    </form>
    

    
  </body>
</html>
